<div class="desktop-chat-container" (click)="chatService.closeDialog()">
  <div class="desktop-chat-header-container">
    <div
      class="desktop-chat-header-headline"
      (click)="channelService.openEditDialog()">
      <p>#</p>
      <p>{{ chatService.dataChannel?.name }}</p>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div>
      <div
        class="desktop-chat-header-members-container"
        (click)="
          this.chatService.doNotClose($event); chatService.openDialogAddUser()
        ">
        <div
          *ngFor="
            let singleUserHeader of chatService.dataChannel?.channelUsers;
            let singleUserIndexHeader = index
          ">
          <div *ngIf="mainService.loggedInUser.id !== singleUserHeader.id">
            <img
              class="desktop-chat-header-members-img"
              src="{{ singleUserHeader.avatar }}"
              alt="singleUserHeaderImg"
              referrerpolicy="no-referrer"
              *ngIf="singleUserIndexHeader < 3" />
          </div>
        </div>

        <span class="desktop-chat-header-members-number">
          {{ chatService.dataChannel?.channelUsers?.length || 0 }}
        </span>
      </div>
      <div
        class="desktop-chat-header-icon"
        (click)="
          this.chatService.doNotClose($event); chatService.openDialogAddUser()
        ">
        <mat-icon>person_add</mat-icon>
      </div>
    </div>
  </div>
  <div #scrollContainer class="desktop-chat-content">
    <div
      class="desktop-chat-owner-content-container"
      *ngIf="chatService.dataChannel?.messageChannel?.length === 0">
      <div class="desktop-chat-owner-name-container">
        <p># {{ chatService.dataChannel?.name }}</p>
      </div>
      <span class="desktop-chat-owner-description-container">
        <p>
          Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels
        </p>
        <p class="desktop-chat-owner-description-name-text">
          # {{ chatService.dataChannel.name }}
        </p>
      </span>
    </div>
    <div
      (mouseover)="chatService.toggleIconContainer(singleMessageIndex, $event)"
      (mouseleave)="chatService.closeIconContainer()"
      *ngFor="
        let singleMessage of chatService.dataChannel?.messageChannel;
        let singleMessageIndex = index
      "
      (click)="chatService.onMouseLeave()">
      <div
        class="desktop-chat-message-date-container"
        [ngClass]="{
          'desktop-chat-message-date-container-hover':
            chatService.activeMessageIndex === singleMessageIndex
        }"
        (mouseenter)="chatService.onMouseLeave()">
        <div class="desktop-chat-message-line"></div>
        <span class="desktop-chat-message-date">
          {{ chatService.setDate(singleMessage.date) }}
        </span>
        <div class="desktop-chat-message-line"></div>
      </div>
      <div
        class="desktop-chat-edit-message-container"
        *ngIf="chatService.activeMessageIndex === singleMessageIndex"
        [ngClass]="{
          'desktop-chat-edit-message-container-right':
            chatService.ifMessageFromMe(singleMessage.userId),
          'desktop-chat-edit-message-container-left':
            !chatService.ifMessageFromMe(singleMessage.userId)
        }">
        <div
          class="desktop-chat-edit-icon-container"
          (click)="
            emojiService.forWhichDocIsTheEmoji('channels');
            emojiService.addReactionToMessageChannel('✅', singleMessageIndex)
          ">
          <img src="./assets/icons/good-mark.svg" alt="good-mark" />
        </div>
        <div
          class="desktop-chat-edit-icon-container"
          (click)="
            emojiService.forWhichDocIsTheEmoji('channels');
            emojiService.addReactionToMessageChannel('🙌', singleMessageIndex)
          ">
          <img src="./assets/icons/hands_up.svg" alt="hands_up" />
        </div>
        <div
          class="desktop-chat-edit-icon-container"
          (click)="
            emojiService.forWhichDocIsTheEmoji('channels');
            chatService.onButtonClick($event);
            chatService.openDialogEmojiReactionMessage(singleMessageIndex)
          ">
          <mat-icon>add_reaction</mat-icon>
        </div>
        <div
          (mouseenter)="chatService.onMouseLeave()"
          class="desktop-chat-edit-icon-container"
          (click)="chatService.openThread(singleMessage, singleMessageIndex)">
          <mat-icon>comment</mat-icon>
        </div>
        <div
          class="desktop-chat-edit-icon-container"
          (click)="
            this.chatService.doNotClose($event);
            chatService.onMouseEnter(singleMessageIndex)
          "
          [ngClass]="{
            'desktop-chat-edit-icon-left': !chatService.ifMessageFromMe(
              singleMessage.userId
            )
          }">
          <mat-icon>more_vert</mat-icon>
        </div>
      </div>
      <div
        (mouseenter)="chatService.onMouseEnter(singleMessageIndex)"
        (mouseleave)="chatService.onMouseLeave()"
        class="desktop-chat-edit-button-container"
        *ngIf="chatService.hoveredMessageIndex === singleMessageIndex">
        <span
          (click)="
            chatService.toggleEditMessageContainer(
              singleMessageIndex,
              $event,
              singleMessage.message
            )
          "
          class="desktop-chat-edit-button">
          Nachricht bearbeiten
        </span>
      </div>

      <div
        (mouseenter)="chatService.onMouseLeave()"
        [ngClass]="{
          'desktop-chat-message-container-from-me': chatService.ifMessageFromMe(
            singleMessage.userId
          ),
          'desktop-chat-message-container-from-others':
            !chatService.ifMessageFromMe(singleMessage.userId),
          'desktop-chat-message-container-clicked':
            chatService.activeMessageIndex === singleMessageIndex
        }">
        <div
          (click)="
            this.chatService.doNotClose($event);
            directMessageService.openProfil(singleMessage.userId)
          "
          (mouseenter)="chatService.onMouseLeave()"
          class="desktop-chat-message-avatar-container">
          <img
            referrerpolicy="no-referrer"
            src="{{ singleMessage.userAvatar }}"
            alt="" />
        </div>
        <div class="desktop-chat-message-content">
          <div
            [ngClass]="{
              'desktop-chat-message-name-date-container-me':
                chatService.ifMessageFromMe(singleMessage.userId),
              'desktop-chat-message-name-date-container-from-others':
                !chatService.ifMessageFromMe(singleMessage.userId)
            }">
            <span
              (click)="directMessageService.openProfil(singleMessage.userId)"
              class="desktop-chat-message-name">
              {{ singleMessage.userName }}
            </span>
            <div>
              <span class="desktop-chat-message-time">
                {{ chatService.setTime(singleMessage.date) }} Uhr
              </span>
            </div>
          </div>
          <div
            (mouseover)="
              chatService.toggleIconContainer(singleMessageIndex, $event)
            "
            class="desktop-chat-message-text-container"
            [ngClass]="{
              'desktop-chat-message-from-me': chatService.ifMessageFromMe(
                singleMessage.userId
              ),
              'desktop-chat-message-from-others': !chatService.ifMessageFromMe(
                singleMessage.userId
              ),
              'desktop-chat-message-clicked':
                chatService.activeMessageIndex === singleMessageIndex
            }">
            <span
              *ngIf="chatService.editMessageInputIndex !== singleMessageIndex">
              {{ singleMessage.message }}

              <div
                class="image-to-message-container"
                *ngIf="singleMessage.imageToMessage">
                <img
                  (click)="
                    chatService.openImageMessageDialog(
                      singleMessage.imageToMessage
                    )
                  "
                  src="{{ singleMessage.imageToMessage }}"
                  alt="message width" />

                <a
                  class="download-icon"
                  href="{{ singleMessage.imageToMessage }}"
                  download="">
                  <mat-icon>download</mat-icon>
                </a>
              </div>
            </span>
            <div *ngIf="chatService.editMessageIndex === singleMessageIndex">
              <textarea
                #autofocus
                [(ngModel)]="chatService.editText"
                name="newTextarea"
                (input)="chatService.adjustHeight($event.target)"
                (contextmenu)="chatService.adjustHeight($event.target)"
                style="min-height: 50px; width: 300px; padding: 8px"
                class="desktop-chat-message-edit-textarea"></textarea>
              <div class="desktop-chat-input-field-icon-container">
                <div class="desktop-chat-edit-message-icon-container">
                  <div class="desktop-chat-edit-message-icon">
                    <div class="desktop-chat-input-icon">
                      <mat-icon
                        (click)="
                          chatService.openDialogEmoji();
                          emojiService.forWhichDocIsTheEmoji('channels');
                          chatService.onButtonClick($event)
                        ">
                        sentiment_satisfied
                      </mat-icon>
                    </div>
                    <div class="desktop-chat-input-icon">
                      <mat-icon
                        (click)="
                          mainService.contentOfWhichInput('channels');
                          chatService.onButtonClick($event);
                          chatService.openDialogMentionUser()
                        ">
                        alternate_email
                      </mat-icon>
                    </div>
                  </div>
                  <div>
                    <div>
                      <div class="desktop-chat-edit-message-save-container">
                        <p (click)="chatService.closeWithoutSaving()">
                          Abbrechen
                        </p>
                        <p
                          (click)="
                            chatService.editMessageFromChannel(
                              this.parmsId,
                              this.chatService.editText,
                              singleMessageIndex
                            )
                          ">
                          Speichern
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            [ngClass]="{
              'desktop-chat-message-reaction-right-container':
                chatService.ifMessageFromMe(singleMessage.userId),
              'desktop-chat-message-reaction-left-container':
                !chatService.ifMessageFromMe(singleMessage.userId)
            }">
            <div
              class="desktop-chat-message-thread-link-container"
              *ngIf="singleMessage.numberOfMessage > 0">
              <div
                class="desktop-chat-message-thread-link-number-content"
                (click)="
                  chatService.openThread(singleMessage, singleMessageIndex)
                ">
                <p>{{ singleMessage.numberOfMessage }}</p>
                <p *ngIf="singleMessage.numberOfMessage === 1">Antwort</p>
                <p *ngIf="singleMessage.numberOfMessage > 1">Antworten</p>
              </div>
              <div class="desktop-chat-message-thread-link-date-content">
                <p>Letzte Antwort</p>
                <p>
                  {{
                    threadService.setDateThreadInfo(
                      singleMessage.dateOfLastThreadMessage
                    )
                  }}
                </p>
              </div>
            </div>
            <div
              class="desktop-chat-message-reaction-hover-content-container"
              *ngFor="
                let emojie of chatService.dataChannel.messageChannel[
                  singleMessageIndex
                ].emojiReaction;
                let emojiIndex = index
              "
              (mouseenter)="
                this.toggleIconHoverContainerChat(
                  singleMessageIndex,
                  emojiIndex,
                  $event
                )
              "
              (mouseleave)="this.toggleIconHoverContainerChatOut($event)">
              <div
                [ngClass]="{
                  'desktop-chat-message-reaction-hover-content-right':
                    chatService.ifMessageFromMe(singleMessage.userId),
                  'desktop-chat-message-reaction-hover-content-left':
                    !chatService.ifMessageFromMe(singleMessage.userId)
                }"
                *ngIf="
                  emojiIndex === emojiReactionIndexHover &&
                  singleMessageIndex === activeMessageIndexReacton
                ">
                <p class="desktop-chat-message-reaction-hover-emoji">
                  {{ emojie.emoji }}
                </p>
                <span
                  *ngFor="
                    let emojieUser of emojie.userName;
                    let emojiUserIndex = index
                  ">
                  <p
                    *ngIf="
                      emojie.userName.length === 1 && emojiUserIndex === 0
                    ">
                    {{ emojieUser }}
                  </p>
                  <p
                    *ngIf="
                      emojie.userName.length === 2 && emojiUserIndex === 0
                    ">
                    {{ emojieUser }} und
                  </p>
                  <p
                    *ngIf="
                      emojie.userName.length === 2 && emojiUserIndex === 1
                    ">
                    {{ emojieUser }}
                  </p>
                  <p
                    *ngIf="
                      emojie.userName.length === 3 && emojiUserIndex === 0
                    ">
                    {{ emojieUser }},
                  </p>
                  <p
                    *ngIf="
                      emojie.userName.length === 3 && emojiUserIndex === 1
                    ">
                    {{ emojieUser }} und
                  </p>
                  <p
                    *ngIf="
                      emojie.userName.length === 3 && emojiUserIndex === 2
                    ">
                    {{ emojieUser }}
                  </p>
                  <p *ngIf="emojie.userName.length > 3 && emojiUserIndex === 0">
                    {{ emojieUser }},
                  </p>
                  <p *ngIf="emojie.userName.length > 3 && emojiUserIndex === 1">
                    {{ emojieUser }},
                  </p>
                  <p *ngIf="emojie.userName.length > 3 && emojiUserIndex === 2">
                    {{ emojieUser }} und
                  </p>
                  <p
                    *ngIf="emojie.userName.length === 4 && emojiUserIndex === 3"
                    class="desktop-chat-message-reaction-hover-link"
                    (click)="
                      channelService.openDialogShowsUserReaction(
                        singleMessageIndex,
                        emojiIndex,
                        emojie.emoji
                      )
                    ">
                    {{ emojie.userName.length - 3 }} weitere Person
                  </p>
                  <p
                    *ngIf="emojie.userName.length > 4 && emojiUserIndex === 4"
                    class="desktop-chat-message-reaction-hover-link"
                    (click)="
                      channelService.openDialogShowsUserReaction(
                        singleMessageIndex,
                        emojiIndex,
                        emojie.emoji
                      )
                    ">
                    {{ emojie.userName.length - 3 }} weitere Personen
                  </p>
                </span>
                <p *ngIf="emojie.userName.length === 1">hat reagiert</p>
                <p *ngIf="emojie.userName.length > 1">haben reagiert</p>
              </div>
              <div
                (click)="
                  emojiService.forWhichDocIsTheEmoji('channels');
                  emojiService.addAdditionalReactionToMessage(
                    emojie.emoji,
                    singleMessageIndex,
                    emojiIndex
                  )
                "
                class="desktop-chat-message-reaction-content"
                [ngClass]="{
                  'd-none': emojie.user.length === 0
                }">
                {{ emojie.emoji }} {{ emojie.user.length }}
              </div>
            </div>
            <div class="desktop-chat-message-reaction-icon">
              <mat-icon
                (click)="
                  emojiService.forWhichDocIsTheEmoji('channels');
                  chatService.onButtonClick($event);
                  chatService.openDialogEmojiReactionMessage(singleMessageIndex)
                ">
                add_reaction
              </mat-icon>
            </div>
          </div>
          <div>
            <div>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="desktop-chat-input-container" id="meinTextarea">
    <form class="desktop-chat-input-field-container br-20">
      <div class="add-image-container-width">
        <div class="add-image-container" *ngIf="chatService.imageMessage">
          <img src="{{ chatService.imageMessage }}" alt="" />
          <div class="delete-img" (click)="chatService.deleteMessage()">
            <mat-icon>close</mat-icon>
          </div>
        </div>
      </div>
      <textarea
        #autofocus
        (keydown)="checkForEnter($event)"
        [(ngModel)]="chatService.text"
        name="textarea"
        (input)="chatService.adjustHeight($event.target)"
        style="min-height: 50px; width: 100%"
        [placeholder]="'Antworten...'"
        (ngModelChange)="
          searchField.filterDataChannelchat(chatService.text)
        "></textarea>

      <div class="desktop-chat-input-field-icon-container">
        <div class="desktop-chat-input-icon-container">
          <div class="desktop-chat-border-right">
            <div class="desktop-chat-input-icon">
              <mat-icon>add</mat-icon>
              <input
                id="file-upload"
                type="file"
                (change)="chatService.onFileSelected($event)" />
            </div>
          </div>
          <div class="desktop-chat-input-icon">
            <mat-icon
              (click)="
                chatService.openDialogEmoji();
                emojiService.forWhichDocIsTheEmoji('channels');
                chatService.onButtonClick($event)
              ">
              sentiment_satisfied
            </mat-icon>
          </div>
          <div class="desktop-chat-input-icon">
            <mat-icon
              (click)="
                mainService.contentOfWhichInput('channels');
                chatService.onButtonClick($event);
                chatService.openDialogMentionUser()
              ">
              alternate_email
            </mat-icon>
          </div>
        </div>
        <div>
          <div>
            <mat-icon
              (click)="
                chatService.sendMessageFromChannel(
                  this.chatService.dataChannel.id,
                  this.chatService.text
                )
              "
              class="desktop-chat-send-icon">
              send
            </mat-icon>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
