@import "./../../../../styles.scss";
@import "@ctrl/ngx-emoji-mart/picker";

@font-face {
  font-family: "TwemojiMozilla";
  src: local("TwemojiMozilla"),
    url("../../../../assets/fonts/Twemoji.Mozilla.ttf") format("truetype");
}

.mobile-chat-container {
  height: calc(100vh - 140px);
  width: 100vw;
  position: absolute;
  top: 80px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $background-white;
  overflow-x: hidden;
}

.mobile-chat-header-container {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mobile-chat-header-headline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: 16px;
  cursor: pointer;
  p {
    font-size: 20px;
    font-weight: 700;
  }
}

.mobile-chat-header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 16px;
  background-color: $background-lightblue;
  cursor: pointer;
  mat-icon {
    &:hover {
      color: $background-purple;
    }
  }
}

.mobile-chat-owner-content-container {
  position: absolute;
  bottom: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 18px;
  box-sizing: border-box;
}

.mobile-chat-owner-name-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 24px;
  gap: 8px;
  padding-bottom: 12px;
  > p {
    font-size: 24px;
    font-weight: 700;
  }
}

.mobile-chat-owner-description-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  > p {
    font-size: 20px;
    font-weight: 400;
  }
}

.mobile-chat-owner-description-name-text {
  color: $icon-purple-hover;
}

.mobile-chat-content {
  width: 100%;
  max-height: calc(100vh - 280px);
  height: 100%;
  overflow-y: auto;
}

.mobile-chat-message-container-clicked {
  background-color: $background-lightblue;
}

.mobile-chat-message-date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 16px;
}

.mobile-chat-message-date {
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  color: $color-black;
  border: 1px solid $border-ligth-purple;
  border-radius: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mobile-chat-message-line {
  height: 1px;
  width: 100%;
  background-color: $border-ligth-purple;
}

.mobile-chat-edit-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  right: 120px;
  margin-bottom: -40px;
  width: 100%;
  gap: 5px;
  height: 46px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 1px solid $border-gray;
  background-color: $background-white;
}

.mobile-chat-edit-message-container-left {
  left: 120px;
  width: 200px;
}

.mobile-chat-edit-message-container-right {
  margin-left: calc(100vw - 350px);
  width: 255px;
}

.mobile-chat-edit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  gap: 5px;
  width: 269px;
  height: 67px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid $border-gray;
  background-color: $background-white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
  font-size: 20px;
  font-weight: 500;
  margin-left: calc(100vw - 300px);
  width: 255px;
  margin-top: 40px;
  margin-bottom: -80px;
  z-index: 999 !important;
}

.mobile-chat-edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 229px;
  height: 47px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  &:hover {
    background-color: $background-lightblue;
    color: $icon-purple-hover;
  }
}

.mobile-chat-edit-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  &:hover {
    color: $icon-purple-hover;
    background-color: $background-lightblue;
  }
}

.mobile-chat-edit-icon-left {
  display: none;
}

.mobile-chat-message-container-from-others {
  padding-top: 12px;
  display: flex;
  justify-content: flex-start;
  margin-left: 16px;
  z-index: 1;
  gap: 8px;
}

.mobile-chat-message-container-from-me {
  padding-top: 12px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin-left: 16px;
  margin-right: 16px;
  z-index: 1;
  gap: 8px;
}

.mobile-chat-message-container-from-me-edit-botton-vesible {
  padding-top: 0px;
  margin-top: -98px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin-left: 16px;
  margin-right: 16px;
  z-index: 1;
  gap: 8px;
}

.mobile-chat-message-avatar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  > img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}

.image-to-message-container {
  img {
    width: 100%;
    height: 100%;
  }

  .download-icon {
    display: flex;
    justify-content: flex-end;
  }
}

.mobile-chat-message-name-date-container-from-others {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.mobile-chat-message-name-date-container-me {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  flex-direction: row-reverse;
}

.mobile-chat-message-name {
  font-size: 18px;
  font-weight: 700;
  color: $color-black;
  cursor: pointer;
}

.mobile-chat-message-time {
  font-size: 14px;
  font-weight: 400;
}

.mobile-chat-message-text-container {
  margin-top: 8px;
  padding-top: 24px;
  margin-bottom: 8px;
  cursor: pointer;
}

.mobile-chat-message-edit-textarea {
  all: unset;
  background-color: $background-purple;
  color: $background-white;
  border: none;
  padding: 0px 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 17px;
}

.mobile-chat-edit-message-icon-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.mobile-chat-edit-message-icon {
  display: flex;
  margin-bottom: -12px;
  margin-left: -8px;
}

.mobile-chat-edit-message-save-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-left: -8px;
  > p {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    color: $icon-gray;
    font-size: 13px;
    &:hover {
      color: $icon-purple-hover;
      background-color: $background-lightblue;
    }
  }
}

.mobile-chat-message-from-others {
  background-color: $background-lightblue;
  max-width: 300px;
  padding: 16px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow-wrap: anywhere;
}

.mobile-chat-message-from-me {
  background-color: $background-purple;
  color: $background-white;
  max-width: 300px;
  padding: 16px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow-wrap: anywhere;
}

.mobile-chat-message-clicked {
  background-color: $background-white;
  color: $color-black;
}

.mobile-chat-input-container {
  min-height: 145px;
  width: calc(100vw - 32px);
  margin-bottom: 16px;
}

.mobile-chat-input-field-container {
  width: 100%;
  min-height: 145px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid $border-gray;
  textarea {
    all: unset;
    min-width: 90%;
    max-width: 90%;
    min-height: 80px;
    font-size: 18px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    background-position: right 24px top 16px;
    word-wrap: break-word;
    font-family: Arial, "TwemojiMozilla";
  }
}

.mobile-chat-input-field-icon-container {
  height: 65px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.mobile-chat-input-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

#file-upload {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.mobile-chat-input-icon {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  &:hover {
    background-color: $background-lightblue;
  }
  &:first-child {
    position: relative;
    z-index: 1;
  }
  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: $icon-gray;
    border-radius: 100%;
    &:hover {
      color: $icon-purple-hover;
    }
  }
}

.mobile-chat-border-right {
  height: 40px;
  width: 45px;
  border-right: 1px solid $border-gray;
}

.mobile-chat-send-icon {
  color: $icon-blue;
  cursor: pointer;
  &:hover {
    color: $background-purple;
  }
}

.mobile-chat-message-thread-link-container {
  display: flex;
  gap: 10px;
  height: 18px;
  &:hover {
    .mobile-chat-message-thread-link-number-content {
      > p {
        font-weight: 600;
        color: $icon-blue;
      }
    }
    .mobile-chat-message-thread-link-date-content {
      > p {
        color: $color-black;
      }
    }
  }
}

.mobile-chat-message-thread-link-number-content {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  > p {
    display: flex;
    white-space: nowrap;
    overflow-wrap: normal;
    font-size: 14px;
    font-weight: 400;
    color: $icon-purple-hover;
  }
}

.mobile-chat-message-thread-link-date-content {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 1px;
  > p {
    display: flex;
    white-space: nowrap;
    overflow-wrap: normal;
    font-size: 14px;
    font-weight: 400;
    color: $icon-gray;
  }
}

.mobile-chat-message-reaction-right-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
  gap: 8px;
  flex-wrap: wrap;
}

.mobile-chat-message-reaction-left-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
  gap: 10px;
  width: 200px;
  flex-wrap: wrap;
}

.mobile-chat-message-reaction-content {
  border: 1px solid $background-lightgray;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  &:hover {
    border: 1px solid $background-lightblue;
  }
}

.mobile-chat-message-reaction-icon {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  &:hover {
    background-color: $background-lightblue;
  }
  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: $icon-gray;
    border-radius: 100%;
    &:hover {
      color: $background-purple;
    }
  }
}

.user-result-container {
  background-color: #fff;
  z-index: 99;
  width: 100%;
  min-height: 300px;
  max-height: 400px;
  overflow-x: scroll;
  border-radius: 30px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);

  .user-content-container {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .user-list {
      display: flex;
      align-items: center;
      gap: 18px;
      cursor: pointer;
      border-radius: 30px;
      padding: 4px 20px;

      &:hover {
        background-color: $background-lightblue;
      }
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
