<section>

    <div class="login-container">

        <div class="logo-container">
            <img src="./assets/img/logo-name.svg" alt="DABubble Logo">
        </div>
    
        <app-new-password-card class="login-card-component"></app-new-password-card>
    
        <div  *ngIf="isNewPassword$ | async" class="overlay">
            Anmelden
        </div>

        <div class="impress-policy">
            <a class="desktop-links" href="/policy">Datenschutz</a>
            <a class="desktop-links" href="/imprint">Impressum</a>
        </div>
    
    </div>
    

</section>

