<div class="card">
    <form class="form-container">
        <div class="arrow-back-container">
            <mat-icon routerLink='/reset-password' class="arrow-back-icon" aria-hidden="false"
                aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>
            <h1>Passwort zurücksetzen</h1>
        </div>
        <div class="input-fields">

            <div class="form-field">
                <input [(ngModel)]="password" [ngModel]="passwordValid" #passwordValid="ngModel" type="password"
                    placeholder="Neues Passwort" minlength="6" [ngModelOptions]="{standalone: true}" required="">
            </div>

            <div class="form-field">
                <input [(ngModel)]="verifyPassword" [ngModel]="verifyPasswordValid" #verifyPasswordValid="ngModel"
                type="password" placeholder="Neues Passwort bestätigen" minlenght="6"
                [ngModelOptions]="{standalone: true}" required="">
            </div>

            <p *ngIf="errorMessage"> {{ errorMessage }} </p>
        </div>

        <div class="flexend-btn-container">
            <button [disabled]="password !== verifyPassword || !verifyPasswordValid.valid || !passwordValid.valid"
                (click)="changePassword($event)" class="primary-btn">Passwort ändern</button>
        </div>

    </form>
</div>