<div class="card">
  <form
    class="form-container"
    #registerForm="ngForm"
    (ngSubmit)="submitRegister(registerForm)"
  >
    <div class="arrow-back-container">
      <mat-icon
        routerLink="/login"
        class="arrow-back-icon"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="arrow_back"
      ></mat-icon>
      <h1>Konto erstellen</h1>
    </div>
    <p>
      Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
      DABubble-Konto.
    </p>
    <div class="input-fields">
      <div>
        <div class="form-field">
          <mat-icon class="icon">person</mat-icon>

          <input
            [ngModel]="isNameValid"
            [(ngModel)]="name"
            #isNameValid="ngModel"
            type="text"
            placeholder="Name und Nachname"
            [ngModelOptions]="{standalone: true}"
            name="name"
            required
            pattern="[A-Za-zÀ-ÖØ-öø-ÿ]+(?: [A-Za-zÀ-ÖØ-öø-ÿ]+)+"
          />
        </div>
        <p *ngIf="!isNameValid.valid && isNameValid.touched">
          Bitte gib deinen Namen ein.
        </p>
      </div>
      <div>
        <div class="form-field">
          <mat-icon class="icon">email</mat-icon>

          <input
            [(ngModel)]="email"
            #isMailValid="ngModel"
            class="email-input"
            type="email"
            placeholder="beispielname@email.com"
            [ngModelOptions]="{standalone: true}"
            name="email"
            required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          />
        </div>
        <p *ngIf="!isMailValid.valid && isMailValid.touched">
          Bitte gib deine E-Mail-Adresse ein.
        </p>
        <p *ngIf="isEmailAvaiable">{{ isEmailAvaiable }}</p>
      </div>
      <div>
        <div class="form-field">
          <mat-icon class="icon">lock</mat-icon>

          <input
            [(ngModel)]="isPasswordValid"
            [(ngModel)]="password"
            #isPasswordValid="ngModel"
            type="password"
            placeholder="Passwort"
            [ngModelOptions]="{standalone: true}"
            name="password"
            required
          />
        </div>
        <p *ngIf="isPasswordAvaiable">{{ isPasswordAvaiable }}</p>
      </div>
      <div class="agree-policy">
        <input
          [(ngModel)]="isCheckedPolicy"
          type="checkbox"
          [ngModelOptions]="{standalone: true}"
        />
        Ich simme der&nbsp;<a href="#">Datenschutzerklärung</a>&nbsp;zu.
      </div>
    </div>

    <div class="flexend-btn-container">
      <button
        [disabled]="
          !isMailValid.valid ||
          !isNameValid.valid ||
          !isPasswordValid.valid ||
          !isCheckedPolicy
        "
        type="submit"
        class="primary-btn"
      >
        Weiter
      </button>
    </div>
  </form>
</div>
