<!---- START HEADER ---->
<header>
  <div class="logo-container" (click)="closeThread()">
    <mat-icon>chevron_left</mat-icon>
    <img
      class="logo"
      src="./assets/img/devscpace-logo.svg"
      alt="DaBubble logo" />
    <span class="space-name">Devspace</span>
  </div>
  <img
    (click)="openUserMenu()"
    referrerpolicy="no-referrer"
    class="user"
    src="{{ currentUser.avatar }}"
    alt="User avatar" />
</header>

<div *ngIf="userMenu" class="user-menu" (click)="openUserMenu()">
  <div class="menu-container" (click)="doNotClose($event)">
    <div class="border-container">
      <div class="border"></div>
    </div>
    <div>
      <div class="icon-and-name" (click)="openUserProfile()">
        <mat-icon>account_circle_outline</mat-icon>
        <span>Profile</span>
      </div>
      <div class="icon-and-name" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </div>
    </div>
  </div>
</div>
<!---- END HEADER ---->

<div class="mobile-thread-container">
  <div class="dektop-thread-container">
    <div class="dektop-thread-container" (click)="chatService.closeDialog()">
      <div class="dektop-thread-header-container">
        <div class="dektop-thread-header-headline">
          <p class="dektop-thread-header-headline-thread-text">Thread</p>
          <p class="dektop-thread-header-headline-channel-text">#</p>
          <p class="dektop-thread-header-headline-channel-text">
            {{ chatService.dataThread.name }}
          </p>
        </div>
        <div>
          <div class="dektop-thread-header-icon" (click)="this.closeThread()">
            <mat-icon>close</mat-icon>
          </div>
        </div>
      </div>
      <div #scrollContainerThread class="dektop-thread-content">
        <div
          (mouseover)="
            threadService.toggleIconContainerThread(
              singleThreadMessageIndex,
              $event
            )
          "
          (mouseleave)="threadService.closeIconContainerThread()"
          *ngFor="
            let singleThreadMessage of chatService.dataThread.messageChannel;
            let singleThreadMessageIndex = index
          "
          (click)="threadService.onMouseLeaveThread()"
          class="dektop-thread-message-single-message"
          [ngClass]="{
            'dektop-thread-message-single-message-hover':
              threadService.activeThreadMessageIndex ===
              singleThreadMessageIndex
          }">
          <div
            class="dektop-thread-edit-message-container"
            *ngIf="
              threadService.activeThreadMessageIndex ===
              singleThreadMessageIndex
            "
            [ngClass]="{
              'dektop-thread-edit-message-container-right':
                chatService.ifMessageFromMe(singleThreadMessage.userId),
              'dektop-thread-edit-message-container-left':
                !chatService.ifMessageFromMe(singleThreadMessage.userId)
            }">
            <div
              class="dektop-thread-edit-icon-container"
              (click)="
                threadService.ifMessageOwnerMessageFromThread(
                  singleThreadMessageIndex
                );
                emojiService.forWhichDocIsTheEmoji('thread');
                chatService.onButtonClick($event);
                chatService.openDialogEmojiReactionMessage(
                  singleThreadMessageIndex
                )
              ">
              <mat-icon>add_reaction</mat-icon>
            </div>
            <div
              class="dektop-thread-edit-icon-container"
              (click)="
                this.threadService.doNotCloseThread($event);
                threadService.onMouseEnterThread(singleThreadMessageIndex)
              "
              [ngClass]="{
                'dektop-thread-edit-icon-left': !chatService.ifMessageFromMe(
                  singleThreadMessage.userId
                )
              }">
              <mat-icon>more_vert</mat-icon>
            </div>
          </div>
          <div
            (mouseenter)="
              threadService.onMouseEnterThread(singleThreadMessageIndex)
            "
            (mouseleave)="threadService.onMouseLeaveThread()"
            class="dektop-thread-edit-button-container"
            *ngIf="
              threadService.hoveredMessageIndexThread ===
              singleThreadMessageIndex
            ">
            <span
              (click)="
                threadService.toggleEditMessageContainerThread(
                  singleThreadMessageIndex,
                  $event,
                  singleThreadMessage.message
                )
              "
              class="dektop-thread-edit-button">
              Nachricht bearbeiten
            </span>
          </div>

          <div
            (mouseenter)="threadService.onMouseLeaveThread()"
            [ngClass]="{
              'dektop-thread-message-container-from-me':
                chatService.ifMessageFromMe(singleThreadMessage.userId),
              'dektop-thread-message-container-from-others':
                !chatService.ifMessageFromMe(singleThreadMessage.userId),
              'dektop-thread-message-container-clicked':
                threadService.activeThreadMessageIndex ===
                singleThreadMessageIndex
            }">
            <div
              (click)="
                this.threadService.doNotCloseThread($event);
                directMessageService.openProfil(singleThreadMessage.userId)
              "
              (mouseenter)="threadService.onMouseLeaveThread()"
              class="dektop-thread-message-avatar-container">
              <img
                src="{{ singleThreadMessage.userAvatar }}"
                alt=""
                referrerpolicy="no-referrer" />
            </div>
            <div class="dektop-thread-message-content">
              <div
                [ngClass]="{
                  'dektop-thread-message-name-date-container-me':
                    chatService.ifMessageFromMe(singleThreadMessage.userId),
                  'dektop-thread-message-name-date-container-from-others':
                    !chatService.ifMessageFromMe(singleThreadMessage.userId)
                }">
                <span
                  (click)="
                    directMessageService.openProfil(singleThreadMessage.userId)
                  "
                  class="dektop-thread-message-name">
                  {{ singleThreadMessage.userName }}
                </span>
                <div>
                  <span class="dektop-thread-message-time">
                    {{ chatService.setTime(singleThreadMessage.date) }} Uhr
                  </span>
                </div>
              </div>
              <div
                (mouseover)="
                  threadService.toggleIconContainerThread(
                    singleThreadMessageIndex,
                    $event
                  )
                "
                class="dektop-thread-message-text-container"
                [ngClass]="{
                  'dektop-thread-message-from-me': chatService.ifMessageFromMe(
                    singleThreadMessage.userId
                  ),
                  'dektop-thread-message-from-others':
                    !chatService.ifMessageFromMe(singleThreadMessage.userId),
                  'dektop-thread-message-clicked':
                    threadService.activeThreadMessageIndex ===
                    singleThreadMessageIndex
                }">
                <span
                  *ngIf="
                    threadService.editMessageInputIndexThread !==
                    singleThreadMessageIndex
                  ">
                  {{ singleThreadMessage.message }}

                  <div
                    class="image-to-message-container"
                    *ngIf="singleThreadMessage.imageToMessage">
                    <img
                      (click)="
                        chatService.openImageMessageDialog(
                          singleThreadMessage.imageToMessage
                        )
                      "
                      src="{{ singleThreadMessage.imageToMessage }}"
                      alt="message width" />

                    <a
                      class="download-icon"
                      href="{{ singleThreadMessage.imageToMessage }}"
                      download="">
                      <mat-icon>download</mat-icon>
                    </a>
                  </div>
                </span>
                <div
                  *ngIf="
                    threadService.editMessageIndexThread ===
                    singleThreadMessageIndex
                  ">
                  <textarea
                    [(ngModel)]="threadService.editTextThread"
                    name="newTextarea"
                    (input)="chatService.adjustHeight($event.target)"
                    (focus)="chatService.adjustHeight($event.target)"
                    style="min-height: 50px; width: 100%"
                    class="dektop-thread-message-edit-textarea"></textarea>
                  <div class="dektop-thread-input-field-icon-container">
                    <div class="dektop-thread-edit-message-icon-container">
                      <div class="dektop-thread-edit-message-icon">
                        <div class="dektop-thread-input-icon">
                          <mat-icon
                            (click)="
                              chatService.openDialogEmoji();
                              threadService.ifMessageOwnerMessageFromThread(
                                singleThreadMessageIndex
                              );
                              emojiService.forWhichDocIsTheEmoji('thread');
                              chatService.onButtonClick($event)
                            ">
                            sentiment_satisfied
                          </mat-icon>
                        </div>
                        <div class="dektop-thread-input-icon">
                          <mat-icon
                            (click)="
                              mainService.contentOfWhichInput('thread');
                              chatService.onButtonClick($event);
                              chatService.openDialogMentionUser()
                            ">
                            alternate_email
                          </mat-icon>
                        </div>
                      </div>
                      <div>
                        <div>
                          <div
                            class="dektop-thread-edit-message-save-container">
                            <p
                              (click)="
                                threadService.closeWithoutSavingThread()
                              ">
                              Abbrechen
                            </p>
                            <p
                              (click)="
                                threadService.editMessageFromThread(
                                  this.parmsId1,
                                  this.threadService.editTextThread,
                                  singleThreadMessageIndex
                                )
                              ">
                              Speichern
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                [ngClass]="{
                  'dektop-thread-message-reaction-right-container':
                    chatService.ifMessageFromMe(singleThreadMessage.userId),
                  'dektop-thread-message-reaction-left-container':
                    !chatService.ifMessageFromMe(singleThreadMessage.userId)
                }">
                <div
                  class="dektop-thread-message-reaction-content"
                  *ngFor="
                    let emojieThread of chatService.dataThread.messageChannel[
                      singleThreadMessageIndex
                    ].emojiReaction;
                    let emojiIndex = index
                  "
                  [ngClass]="{
                    'd-none': emojieThread.user.length === 0
                  }"
                  (click)="
                    threadService.ifMessageOwnerMessageFromThread(
                      singleThreadMessageIndex
                    );
                    emojiService.forWhichDocIsTheEmoji('thread');
                    emojiService.addAdditionalReactionToMessageThread(
                      emojieThread.emoji,
                      singleThreadMessageIndex,
                      emojiIndex
                    )
                  ">
                  {{ emojieThread.emoji }}
                  {{ emojieThread.user.length }}
                </div>
                <div class="dektop-thread-message-reaction-icon">
                  <mat-icon
                    *ngIf="
                      chatService.editMessageInputIndex !==
                      singleThreadMessageIndex
                    "
                    (click)="
                      threadService.ifMessageOwnerMessageFromThread(
                        singleThreadMessageIndex
                      );
                      emojiService.forWhichDocIsTheEmoji('thread');
                      chatService.onButtonClick($event);
                      chatService.openDialogEmojiReactionMessage(
                        singleThreadMessageIndex
                      )
                    ">
                    add_reaction
                  </mat-icon>
                </div>
              </div>
            </div>
          </div>
          <div
            class="dektop-thread-separating-line-container"
            *ngIf="singleThreadMessageIndex === 0">
            <div class="dektop-thread-separating-line-content">
              <p
                *ngIf="
                  this.chatService.dataThread.messageChannel[0]
                    .numberOfMessage === 0
                ">
                keine
              </p>
              <p
                *ngIf="
                  this.chatService.dataThread.messageChannel[0]
                    .numberOfMessage > 0
                ">
                {{
                  this.chatService.dataThread.messageChannel[0].numberOfMessage
                }}
              </p>
              <p
                *ngIf="
                  this.chatService.dataThread.messageChannel[0]
                    .numberOfMessage === 1
                ">
                Antwort
              </p>
              <p
                *ngIf="
                  this.chatService.dataThread.messageChannel[0]
                    .numberOfMessage !== 1
                ">
                Antworten
              </p>
            </div>
            <div class="dektop-thread-separating-line"></div>
          </div>
        </div>
      </div>
      <div class="dektop-thread-input-container" id="meinTextarea">
        <form class="dektop-thread-input-field-container br-20">
          <div class="add-image-container-width">
            <div class="add-image-container" *ngIf="threadService.imageMessage">
              <img src="{{ threadService.imageMessage }}" alt="" />
              <div class="delete-img" (click)="threadService.deleteMessage()">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </div>
          <textarea
            [(ngModel)]="threadService.textThread"
            name="textarea"
            (input)="chatService.adjustHeight($event.target)"
            style="min-height: 50px; width: 100%"
            [placeholder]="'Antworten...'"
            (ngModelChange)="
              searchField.filterDataThreadchat(this.threadService.textThread)
            "></textarea>

          <div class="dektop-thread-input-field-icon-container">
            <div class="dektop-thread-input-icon-container">
              <div class="dektop-thread-border-right">
                <div class="dektop-thread-input-icon">
                  <mat-icon>add</mat-icon>
                  <input
                    id="file-upload"
                    type="file"
                    (change)="threadService.onFileSelected($event)" />
                </div>
              </div>
              <div class="dektop-thread-input-icon">
                <mat-icon
                  (click)="
                    chatService.openDialogEmoji();
                    emojiService.forWhichDocIsTheEmoji('thread');
                    chatService.onButtonClick($event)
                  ">
                  sentiment_satisfied
                </mat-icon>
              </div>
              <div class="dektop-thread-input-icon">
                <mat-icon
                  (click)="
                    mainService.contentOfWhichInput('thread');
                    chatService.onButtonClick($event);
                    chatService.openDialogMentionUser()
                  ">
                  alternate_email
                </mat-icon>
              </div>
            </div>
            <div>
              <div>
                <mat-icon
                  (click)="
                    threadService.sendMessageFromThread(
                      this.chatService.dataThread.id,
                      this.threadService.textThread,
                      this.threadService.imageMessage
                    )
                  "
                  class="dektop-thread-send-icon">
                  send
                </mat-icon>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

