@import './../../shared/container-styles.scss';

section {
    width: 100%;
    height: 100vh;
    background-color: #eceefe;
    display: flex;
}

.register-card-component {
    display: flex;
    justify-content: center;
}