@import './../../../../styles.scss';

.edit-channel-container-background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.4);
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1200;
}

.edit-channel-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $background-white;
  color: $color-black;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.edit-channel-content-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.edit-channel-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 25px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
  gap: 8px;
  z-index: 1010;
  cursor: pointer;
  background-color: $background-white;
  > p {
    font-size: 20px;
    font-weight: 700;
  }
}

.edit-channel-icon-close {
  position: absolute;
  top: 24px;
  right: 32px;
  margin-top: 21px;
  margin-left: 16px;
  margin-right: 16px;
}

.edit-channel-content-open-container {
  gap: 26px !important;
}

.edit-channel-name-discription-container {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.edit-channel-border-discription-container {
  border: 1px solid $border-gray;
}

.edit-channel-name-discription-headline {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 20px;
  padding: 16px;
  > span {
    font-size: 18px;
    font-weight: 700;
  }
}

.edit-channel-name-discription-headline-bottom {
  padding: 17px;
}

.edit-channel-hashtag {
  font-size: 18px;
  font-weight: 700;
}

.edit-channel-name {
  font-size: 18px;
  font-weight: 400;
}

.edit-channel-name-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.edit-channel-name-input-container {
  width: 100%;
  max-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $border-gray;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  > p {
    position: relative;
    left: 8px;
    font-size: 18px;
    font-weight: 700;
  }
  textarea {
    all: unset;
    min-width: 90%;
    max-width: 80%;
    max-height: 60px;
    font-size: 18px;
    margin-left: 16px;
    margin-top: 22px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    word-wrap: break-word;
    font-family: Arial, 'TwemojiMozilla';
  }
}

.edit-channel-description-input-container {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $border-gray;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  textarea {
    all: unset;
    min-width: 90%;
    max-width: 80%;
    font-size: 18px;
    margin-left: 12px;
    margin-top: 26px;
    margin-bottom: 4px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    word-wrap: break-word;
    font-family: Arial, 'TwemojiMozilla';
  }
}

.edit-channel-description-separating-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 16px;
  height: 1px;
  width: calc(100% - 32px);
  background-color: $border-gray;
}

.edit-channel-description-open-separating-line {
  width: 100%;
  margin-top: 24px;
  margin-left: 0;
  margin-right: 0;
}

.edit-channel-owner-container {
  margin-left: 16px;
}

.edit-channel-owner-description {
  font-size: 18px;
  font-weight: 700;
}

.edit-channel-owner-name {
  font-size: 20px;
  font-weight: 400;
  color: $icon-purple-hover;
}

.edit-channel-members-container {
  border: 1px solid $border-gray;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  > span {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    padding-left: 16px;
    margin-top: 16px;
  }
}

.edit-channel-members-users-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  height: 58px;
  max-height: 200px;
  margin-top: 12px;
  margin-bottom: 12px;
  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    gap: 8px;
    min-width: 200px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    p {
      font-size: 18px;
      font-weight: 400;
    }
    img {
      height: 50px;
      width: 50px;
      border-radius: 100%;
    }
    &:hover {
      background-color: $background-lightblue;
    }
  }
}

.edit-channel-add-users-edit-channel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 4px;
  padding-left: 24px;
  p {
    font-size: 18px;
    font-weight: 400;
  }
}

.edit-channel-add-icon-edit-channel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 16px;
  background-color: $background-lightblue;
  margin-left: 8px;
  cursor: pointer;
  mat-icon {
    &:hover {
      color: $background-purple;
    }
  }
}

.edit-channel-add-user {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background: #00000040;
  z-index: 400;
}

.edit-channel-menu-container {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 26px;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0px -3px 10px 0px #00000033;
}

.edit-channel-border-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0 30px 0;
  > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 6px;
    width: 62px;
    background-color: $background-lightgray;
    border-radius: 23px;
  }
}

.edit-channel-add-headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  > div {
    display: flex;
  }
}

.edit-channel-add-users-input-container {
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
  border: 1px solid $border-gray;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-right: 12px;
}

.edit-channel-push-addet-user-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  gap: 12px;
  height: 32px;
  background-color: $background-lightblue;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  > img {
    height: 16px;
    width: 16px;
    border-radius: 100%;
  }
  width: fit-content;
  margin-left: 8px;
  margin-top: 4px;
}

.edit-channel-push-addet-user-textarea {
  all: unset;
  min-width: 90%;
  max-width: 90%;
  font-size: 18px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  resize: none;
  word-wrap: break-word;
  font-family: Arial, 'TwemojiMozilla';
  height: 31px;
  overflow-y: hidden;
  margin-left: 12px;
  margin-top: 8px;
}

.edit-channel-add-users-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-top: 12px;
}

.edit-channel-users-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: $background-white;
  height: 49px;
  width: 147px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: 8px;
  margin-bottom: 24px;
  margin-right: 12px;
}

.edit-channel-add-users-button-not-available {
  background-color: $icon-gray;
}

.edit-channel-add-users-button-available {
  background-color: $icon-blue;
  cursor: pointer;
  &:hover {
    margin-top: 6px;
    background-color: $background-white;
    color: $icon-blue;
    border: 1px solid $icon-blue;
  }
}

.edit-channel-add-users-content-container {
  margin-left: 24px;
  margin-top: -100px;
  max-width: 320px;
  max-height: calc(100vh - 450px);
  left: calc((100vw - 260px) / 2) !important;
  background-color: $background-white;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 0.5px solid $border-gray;
}

.edit-channel-add-users-scroll-container {
  overflow-y: scroll;
  margin-top: 15px;
  margin-bottom: 15px;
  max-height: calc(100vh - 500px);
}

.edit-channel-add-users-not-found-container {
  overflow-y: scroll;
  max-height: calc(100vh - 500px);
  > div {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
    font-weight: 500;
  }
}

.edit-channel-add-users-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  height: 58px;
  max-height: 200px;
  margin-top: 12px;
  margin-bottom: 12px;
  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    gap: 8px;
    min-width: 200px;
    margin-left: 8px;
    margin-right: 8px;
    p {
      font-size: 18px;
      font-weight: 400;
    }
    cursor: pointer;
    img {
      height: 50px;
      width: 50px;
      border-radius: 100%;
    }
    &:hover {
      background-color: $background-lightblue;
    }
  }
}

.edit-channel-remove-users-button-container {
  width: calc(100vw - 24px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24px;
}

.edit-channel-add-users-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: $background-white;
  height: 49px;
  width: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-bottom: 24px;
  margin-right: 12px;
  background-color: $icon-blue;
  cursor: pointer;
  &:hover {
    background-color: $background-white;
    color: $icon-blue;
    border: 1px solid $icon-blue;
  }
}

@media only screen and (max-width: 960px) {
  .d-none-texte {
    display: none;
  }

  .edit-channel-icon-mobile {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    padding: 4px;
    &:hover {
      color: $icon-purple-hover;
      background-color: $background-lightblue;
    }
  }
}

@media only screen and (min-width: 960px) {
  .edit-channel-container {
    left: calc((100vw - 800px) / 2);
    top: calc((100vh - 650px) / 2);
    width: 800px;
    height: 630px;
    background-color: $background-white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .edit-channel-remove-users-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 24px;
  }

  .edit-channel-members-container {
    display: none;
  }

  .edit-channel-channel-leave-button {
    margin-top: -38px;
  }

  .d-none-icon {
    display: none;
  }

  .d-none-texte {
    margin-top: 0;
  }

  .d-none-texte {
    color: $icon-purple-hover;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      color: $background-blue;
      scale: 1.05;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .edit-channel-container {
    left: calc((100vw - 600px) / 2);
  }
}
