<section>

        <div class="login-container">

                <div class="logo-container">
                        <img src="./assets/img/logo-name.svg" alt="DABubble Logo">
                </div>

                <app-avatar-card class="mobile-register-container"></app-avatar-card>

                <div *ngIf="overlayRegistered$ | async" class="overlay">
                        Regestrierung erfolgreich!
                </div>

                <div class="impress-policy">
                        <a class="desktop-links" href="/policy">Datenschutz</a>
                        <a class="desktop-links" href="/imprint">Impressum</a>
                </div>

        </div>

</section>