<section>

    <div class="login-container">
        <div class="logo-container">
            <img src="./assets/img/logo-name.svg" alt="DABubble Logo">
        </div>
    
        <app-reset-password-card class="login-card-component"></app-reset-password-card>
    
        <div  *ngIf="overlayResetPassword$ | async" class="overlay">
            <div class="overlay-content">
                <mat-icon>send</mat-icon>
                E-Mail gesendet
            </div> 
        </div>

        <div class="impress-policy">
            <a class="desktop-links" href="/policy">Datenschutz</a>
            <a class="desktop-links" href="/imprint">Impressum</a>
        </div>
    
    </div>
    

</section>
