<section>

    <div class="desktop-login-container">
        <div class="desktop-login-header">
            <img src="./assets/img/logo-name.svg" alt="DABubble Logo">
        </div>
    
        <div class="desktop-login-card-container">
    
            <app-reset-password-card></app-reset-password-card>
    
        </div>
    </div>
    
    <div  *ngIf="overlayResetPassword$ | async" class="overlay">
        <div class="overlay-content">
            <mat-icon>send</mat-icon>
            E-Mail gesendet
        </div> 
    </div>
    
    <div class="impress-policy">
        <a class="desktop-links" href="#">Datenschutz</a>
        <a class="desktop-links" href="#">Impressum</a>
    </div>

</section>


